<div class="card border-success bg-light text-dark mx-auto" style="width: 50%;">

<div class="card-header">
<h2 class="text-center">Editing friend</h2>
</div>

<div class="card-body">

<%= render "form", friend: @friend %>

<br/>

<div>
  <%= link_to "Show this friend", @friend %> |
  <%= link_to "Back to friends", friends_path %>
</div>
</div>
</div>
