
<div class="card border-success bg-light text-dark mx-auto" style="width: 30rem;">

<div class="card-header">
<h2 class="text-center">New friend</h2>
</div>

<div class="card-body">
<br/>
<%= render "form", friend: @friend %>

<br>

<div>
  <%= link_to "Back", friends_path, class:'btn btn-dark' %>
</div>
</div>
</div>
